body{
  margin: 0;
}

ul{
  list-style: none;
}



nav{

  height: 200px;
  background: rosybrown;
  color: #ffffff;

}


.nav-menu{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu{
  /* border: 1px solid red; */
}

ul.nav-items{
  border: 1px solid black;
   display: flex;
   
  /*flex-direction: row; */
  /* justify-content: space-around; */
}


.logo{
  border: 1px solid black;
}

.collapse{
  position: absolute;
  border: 1px solid red;
  width: 100%;
  top: 0;
}

